body {
  width: 230px;
  height: 200px;
  text-align: center;
  font-family:sans-serif;
  font-size: 8px;
  background: #f5f6f7;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Roboto',arial,sans-serif;
  color: #292929;
}

h3 {
  margin-top: 5px;
  margin-bottom: 20px;
  font-family: 'Roboto',arial,sans-serif;
  color: #292929;
  align-items: center;
}

#profilepic {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}

hr {
  border: 0;
  height: 1px;
  background: #B0B0B0;
  background-image: linear-gradient(to right, grey, grey, grey);
  border-width: 5;
  margin-bottom: 10px;
}

img {

}

.img1 {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.img2 {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.img3 {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.img4 {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.img5 {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.img6 {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.img7 {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.img8 {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

button {
  margin-top: 15px;
}


.google-button {
  height: 40px;
  border-width: 0.5px;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
  cursor: pointer;

  &:focus,
  &:hover {
    box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
  }

  &:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
  }
}

.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}


.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto',arial,sans-serif;
}
